In [1]:
import pandas as pd

In [2]:
chemin_fichier = r'C:\Users\Mehdi\Downloads\resultats-par-niveau-dpt-t1-france-entiere_1.xlsx'

In [6]:
df = pd.read_excel(chemin_fichier)
df.head(1000)

,Code du département,Libellé du département,Etat saisie,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,% Blancs/Ins,...,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88
0,01,Ain,Complet,438109,97541,22.26,340568,77.74,5641,1.29,...,Philippe,2172,0.50,0.65,M,DUPONT-AIGNAN,Nicolas,8998,2.05,2.70
1,02,Aisne,Complet,373544,101089,27.06,272455,72.94,3767,1.01,...,Philippe,2118,0.57,0.80,M,DUPONT-AIGNAN,Nicolas,5790,1.55,2.18
2,03,Allier,Complet,249991,58497,23.40,191494,76.60,3749,1.50,...,Philippe,1503,0.60,0.81,M,DUPONT-AIGNAN,Nicolas,4216,1.69,2.27
3,04,Alpes-de-Haute-Provence,Complet,128075,29290,22.87,98785,77.13,1478,1.15,...,Philippe,865,0.68,0.89,M,DUPONT-AIGNAN,Nicolas,2504,1.96,2.59
4,05,Hautes-Alpes,Complet,113519,25357,22.34,88162,77.66,1395,1.23,...,Philippe,801,0.71,0.93,M,DUPONT-AIGNAN,Nicolas,2142,1.89,2.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,ZP,Polynésie française,Complet,205576,142121,69.13,63455,30.87,1490,0.72,...,Philippe,451,0.22,0.75,M,DUPONT-AIGNAN,Nicolas,1969,0.96,3.28
103,ZS,Saint-Pierre-et-Miquelon,Complet,5045,2272,45.03,2773,54.97,47,0.93,...,Philippe,50,0.99,1.85,M,DUPONT-AIGNAN,Nicolas,82,1.63,3.04
104,ZW,Wallis et Futuna,Complet,9528,4125,43.29,5403,56.71,27,0.28,...,Philippe,48,0.50,0.90,M,DUPONT-AIGNAN,Nicolas,244,2.56,4.55
105,ZX,Saint-Martin/Saint-Barthélemy,Complet,24414,15812,64.77,8602,35.23,150,0.61,...,Philippe,63,0.26,0.75,M,DUPONT-AIGNAN,Nicolas,339,1.39,4.05
106,ZZ,Français établis hors de France,Complet,1435746,931455,64.88,504291,35.12,3193,0.22,...,Philippe,3145,0.22,0.63,M,DUPONT-AIGNAN,Nicolas,7074,0.49,1.42